<!DOCTYPE html>
<html>

<head>
    <title>CyberWizards </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'application' %>
</head>

<body>
    <% if user_signed_in? %>
        <%= current_user.email %>
    <% end %>
    <p class="notice">
        <%= notice %>
    </p>
    <p class="alert">
        <%= alert %>
    </p>

    <%= yield %>
</body>

</html>
